.btn-dark {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}

.field-validation-error {
    color: red
}

.input-validation-error {
    border: 2px solid red 
}
.carousel-inner {
    height: 400px;
}